* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
.cyber-wrap{
    display: flex;
    background-image: url(../../assets/login.jpeg);
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.login-sec{
    width: 430px;
    height: 480px;
    background-color: rgb(139, 139, 139);
    border-radius: 10px;
    box-shadow: 3px 5px 20px rgba(247, 237, 237, 0.961);

}
.login-sec{
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-form{
    margin-bottom: 40px;
    justify-items: center;
}
.login-form h1{
    margin-bottom: 40px;
    padding: 20px;
    font-family: cursive;
}
.login-form h2{
    margin-bottom: 20px;
    font-family: cursive;
}
.login-form label{
    padding: 5px;
    font-size: 18px;
    font-family: cursive;
}
.username-inp, .pass-inp{
    display: block;
    padding: 15px 130px;
    margin-bottom: 25px;
    border-radius: 10px;
    border: none;
}
.for-pass{
    cursor: pointer;
    color: brown;
    text-decoration: underline;
}
.res-pass{
    color: rgb(30, 32, 175);
    cursor: pointer;
}
.log-in{
    padding: 10px 180px;
    border: none;
    background-color: rgba(0, 0, 0, 0.741);
    color: white;
    margin-bottom: 15px;
    border-radius: 15px;
}